<form
  action="/admin"
  method="post"
  class="flex-column form admin-passcode-form"
  data-name="admin-form"
>
  <label for="adminPasscode">Enter Pass code:</label>
  <input type="text" id="adminPasscode" name="adminPasscode" />

  <div>
    <span class="err-msg" data-field="adminPasscode"></span>
    <span class="err-msg" data-field="adminPasscode"></span>
    <span class="err-msg" data-field="adminPasscode"></span>
  </div>
  <span
    >clue: Which Christopher Nolan movie explores the layers of dreams and
    reality?</span
  >
  <button type="submit">Submit</button>
</form>
