<form
  action="/join-club"
  method="post"
  class="flex-column form club-passcode-form"
  data-name="join-club-form"
>
  <label for="userJoinClub">Enter Pass code:</label>
  <input type="text" id="userJoinClub" name="userJoinClub"  />
  <div>
    <span class="err-msg" data-field="userJoinClub"></span>
    <span class="err-msg" data-field="userJoinClub"></span>
    <span class="err-msg" data-field="userJoinClub"></span>
  </div>
  <span
    >clue: "A country where Lucy(oldest human being) was Found.(E-------)</span
  >
  <button type="submit">Submit</button>
</form>
