<form
  action="/sign"
  method="post"
  class="flex-column form"
  data-name="sign-in-form"
  autocomplete="on"
>
  <div class="flex-row input-holder">
    <label for="userName">Name </label>
    <input
      type="text"
      id="userName"
      name="userName"
      autocomplete="on"
      required
    />
  </div>
  <div class="flex-column err-msg-holder">
    <span class="err-msg" data-field="userName"></span>
    <span class="err-msg" data-field="userName"></span>
  </div>

  <div class="flex-row input-holder">
    <label for="userPassword">password </label>
    <input
      type="password"
      id="userPassword"
      name="userPassword"
      autocomplete="on"
      required
    />
  </div>
  <div class="flex-column err-msg-holder">
    <span class="err-msg" data-field="userPassword"></span>
    <span class="err-msg" data-field="userPassword"></span>
  </div>

  <div class="flex-row input-holder">
    <label for="confirmPassword">confirm password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      autocomplete="on"
      required
    />
  </div>
  <div class="flex-column err-msg-holder">
    <span class="err-msg" data-field="confirmPassword"></span>
    <span class="err-msg" data-field="confirmPassword"></span>
    <span class="err-msg" data-field="confirmPassword"></span>
  </div>

  <label for="showPassword" class="show-password-label">show password</label>
  <input
    type="checkbox"
    name="showPassword"
    id="showPassword"
    data-name="toggle-password"
    class="checkbox"
  />
  <button type="submit" data-name="submit-btn">Submit</button>
</form>
